<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Database" value="SqlServer"/>
    <!--Web ou Desktop-->
    <add key="Plataforma" value="Desktop"/>
    <!--Local ou Remoto-->
    <add key="LocalAcesso" value="Local"/>
    <add key="NomeEmpresa" value="Sulbrave Transportes"/>
    <add key="CnpjEmpresa" value="01.001.001/0001-01"/>
    <add key="EmailSuporte" value="macohin@hotmail.com"/>
    <add key="TelefoneSuporte" value="43 9945-0442"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=FABIOMARCELO;Initial Catalog=SolineaICMS;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="RemoteSqlServer" connectionString="Data Source=mssql.fabiomarcelosouza.com;Initial Catalog=fabiomarcelosouza;Persist Security Info=True;User ID=fabiomarcelosouza;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>